@import url(./icon.css);
@import url(./grid.css);
:root {
  --header-height-admin: 56px;
  --bgc-container-admin: #eeeff1;
}

body {
  font-family: Notosans !important;
  background-color: #f7f7f7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Notosans;
  src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
  font-family: NotosansBold;
  src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
  font-family: NotosansItalic;
  src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
p {
  padding: 0 !important;
  margin: 0 !important;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
a {
  text-decoration: none !important;
}

.breadcrumb-shop {
  background: #f5f5f5;
}
.breadcrumb-shop .breadcrumb-arrows {
  padding: 10px 0;
  background: transparent;
  border-radius: 0;
  margin: 0;
}
.breadcrumb-shop .breadcrumb-arrows li {
  font-size: 13px;
}

.breadcrumb-shop .breadcrumb > li + li:before {
  color: #333;
  padding: 0 12px;
  content: ">";
  font-size: 13px;
}
.breadcrumb-shop .breadcrumb-arrows li a {
  color: #212529;
}
.breadcrumb-shop .breadcrumb-arrows li:hover a {
  color: #ff8c05;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20% !important;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20% !important;
    float: left;
  }
}



.product-item .product-image {
  position: relative;
  display: block;
}
.product-sale {
  background: #f03737;
  position: absolute;
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
  font-weight: bold;
  z-index: 1;
  color: #fff;
  border: 1px solid #ededed;
  top: 12px;
  right: 12px;
  color: #fff;
}
.product-image a img {
  max-width: 100%;
}
.group-button {
  width: 100%;
  position: absolute;
  bottom: 10px;
  justify-content: center;
  column-gap: 6px;
  display: none;
}
.btn-action {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #f5f5f5;
  font-size: 14px;
  outline: none;
}
.btn-action a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #fff;
}
.btn-action:hover a {
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
}
/* .product-image {
  padding-top: 160%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
} */
.product-item {
  font-family: "Montserrat", sans-serif !important ;
  margin-bottom: 10px;
  position: relative;
  transition: transform linear 0.1s;
}
.product-item:hover {
  transform: translateY(-4px);
}
.product-item:hover .group-button {
  display: flex;
  transition: all 0.5s;
}
.product-item:hover .product-name a {
  color: #ec8000;
}
.product-detail {
  padding: 16px 0;
}
.product-name a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #4b4848;
  font-weight: 600;
  height: 37px;
  line-height: 19px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* white-space: nowrap;*/
}
.product-price {
  font-size: 14px;
  margin-top: 4px;
}
.product-pirce--discount {
  color: #f6001a;
  font-size: 15px;
}
.product-pirce--original {
  color: #999;
}